a{
	color:#03F;
}
a:hover{
	color:#F30;
	text-decoration:none;
}

/**{
	color: #000000;
}*/
.cbox{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	/*width:98%;
	margin:8px auto 0px;;*/
}

/*.top{
	height:60px;
	background:url(/templets/images/toplogo.gif) 6px center no-repeat;
}*/
/*.searchbox{
	margin:20px 0px 0px 240px;
}
input,select,textarea{
	vertical-align:middle;
	font-size:14px;
}
.searchbox .keyword{
	margin:-1px 5px 0 2px;
	padding:5px;
	width:223px;
	height:13px;
	border:1px solid #a7a6aa;
	font-size:14px;
}
.searchbox .searchbut{
	padding:1px 6px 0px 6px;
	height:23px;
	line-height:12px;
	font-size:14px;
	margin-top:-2px;
}
.searchbox .adslink{
	margin-left:10px;
}*/
.stitle{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	height:50px;
	line-height:50px;
	/*background-color:#F0F9EE;
	text-indent:20px;*/
	text-align: center;
	font-size: 18px;
}
.lightkeyword{
	font-weight:bold;
	color:#F00;
}
.slist{
}
.slist dl{
	display:block;
	width:96%;
	margin:12px auto 0px;
	padding-bottom:8px;
}
.slist dl dt{
	font-weight:normal
}
.slist dl dt a{
	color: #000000;
	line-height:32px;
	font-size:16px;
	letter-spacing:1px;
	/*font-weight:bold;*/
}
.slist dl dt a:hover{
	color: red;
}
.slist dl dd p{
	line-height:19px;
	color:#717070;
	font-size:14px;
	margin-left:5px;
}
.slist dl dd span{
	font-size:12px;
	line-height:23px;
	color: #717070;
}
.slist dl dd a{
	font-size: 14px;
	color:#000000;
	text-decoration:none
}
.slist dl dd a:hover{
	color:#F30;
}
.slist dl dd span{
	margin-right:10px;
}

.otherkey{
	margin-top:10px;
	height:31px;
	line-height:31px;
	overflow:hidden;
	text-indent:10px;
}
